#titulo {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bolder;
color: aquamarine;align;
}

button {
    background-color: #00345f;
    color: rgb(255, 242, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Montserrat;
    font-weight: bolder;
    box-align: center;
    font-size: 16px;
  }

  body {
    background-image: url('istockphoto-486325400-612x612.jpg');
    background-size: cover;
    background-repeat: no-repeat;
